@media (prefers-reduced-motion: no-preference) {
    .logo {
    }
}

.header {
    background-color: #282c34;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    &__logo {
        height: 40px;
        pointer-events: none;
        animation: logo-spin infinite 20s linear;
    }
}


